stages:
  - validate
  - deploy

# For PRs, build for validation only
validate-docs:
  stage: validate
  rules:
    # Run when a PR is created or updated
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    # Skip if the commit message is from the auto PDF update
    - if: '$CI_COMMIT_AUTHOR =~ /<ci-runner@gitlab\.com>$/'
      when: never
  script:
    - source /etc/environment
    - echo "Running documentation validation for MR..."
    - make SPHINXOPTS="-W" spelling
    - make SPHINXOPTS="-W" html
    - make SPHINXOPTS="-W" latexpdf
  artifacts:
    paths:
      - build/html/
      - build/latex/*.pdf
    expire_in: 1 week
  tags:
    - sphinx

create-pages:
  stage: deploy
  pages:
    publish: public
  rules:
    # Skip if the commit message is from the auto PDF update
    - if: '$CI_COMMIT_AUTHOR =~ /<ci-runner@gitlab\.com>$/'
      when: never
    # Run only for default branch otherwise
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      when: on_success
  script:
    # Source the ENV variables
    - source /etc/environment

    # --- Build docs and check spelling ---
    - mkdir -p public
    - make SPHINXOPTS="-W" spelling
    - make SPHINXOPTS="-W" html
    - make SPHINXOPTS="-W" latexpdf
    - mv build/html/* public

    # --- Commit PDF back to repo ---
    - echo "Committing generated PDF back to repository..."
    - git config --global user.name "GitLab CI"
    - git config --global user.email "ci-runner@gitlab.com"

    # Copy PDF to tracked path
    - mkdir -p docs/pdf
    - cp build/latex/*.pdf "docs/pdf/"

    # Add and commit if there are changes
    - git add docs/pdf/*.pdf
    - echo "Deploy user is $DEPLOY_USER"
    - |
      if ! git diff --cached --quiet; then
        COMMIT_HASH=$(echo "$CI_COMMIT_SHA" | cut -c1-8)
        COMMIT_MSG="ci: update generated PDF from commit ${COMMIT_HASH}"
        git commit -m "${COMMIT_MSG}"
        git push "https://gitlab-ci-token:${DEPLOY_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" HEAD:$CI_DEFAULT_BRANCH
      else
        echo "No changes in PDF; skipping commit."
      fi
  tags:
    - sphinx
