create-pages:
  pages:
    publish: public
  rules:
    # Skip if the commit message is from the auto PDF update
    - if: '$CI_COMMIT_AUTHOR =~ /<ci-runner@gitlab\.com>$/'
      when: never
    # Run only for default branch otherwise
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      when: on_success
  script:
    # Source the ENV variables
    - source /etc/environment

    # --- Build docs and check spelling ---
    - mkdir -p public
    - make SPHINXOPTS="-W" spelling
    - make SPHINXOPTS="-W" html
    - make SPHINXOPTS="-W" latexpdf
    - mv build/html/* public
    - cp build/latex/*.pdf public

    # --- Commit PDF back to repo ---
    - echo "Committing generated PDF back to repository..."
    - git config --global user.name "GitLab CI"
    - git config --global user.email "ci-runner@gitlab.com"

    # Copy PDF to tracked path
    - mkdir -p docs/pdf
    - cp build/latex/*.pdf "docs/pdf/"

    # Add and commit if there are changes
    - git add docs/pdf/*.pdf
    - echo "Deploy user is $DEPLOY_USER"
    - |
      if ! git diff --cached --quiet; then
        COMMIT_HASH=$(echo "$CI_COMMIT_SHA" | cut -c1-8)
        COMMIT_MSG="ci: update generated PDF from commit ${COMMIT_HASH}"
        git commit -m "${COMMIT_MSG}"
        git push "https://gitlab-ci-token:${DEPLOY_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" HEAD:$CI_DEFAULT_BRANCH
      else
        echo "No changes in PDF; skipping commit."
      fi
  tags:
    - sphinx
