stages:
  - validate
  - deploy

variables:
  PDF_FILENAME: "WS125_Robotic_Development_Kit_User_Manual.pdf"

# For PRs, build for validation only
validate-docs:
  stage: validate
  interruptible: true
  rules:
    # Run when a PR is created or updated
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    # Skip if the commit is created by the CI bot user
    - if: '$CI_COMMIT_AUTHOR =~ /<ci-runner@gitlab\.com>$/'
      when: never
  script:
    - set -euo pipefail
    - echo "Running documentation validation for MR..."
    - make SPHINXOPTS="-W" spelling
    - make SPHINXOPTS="-W" html
    - python3 scripts/convert.py --output_filename "${PDF_FILENAME}"
    - test -f build/html/index.html
    - test -f "output/${PDF_FILENAME}"
  artifacts:
    paths:
      - build/html/
      - output/*.pdf
    expire_in: 1 week
  tags:
    - sphinx
